<%-include('content/header')%>
<%-include('content/nav')%>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form action="/add/user" method="POST" class="col-md-6" style="margin: 0 auto;">
                            <label for="nome">Nome</label>
                            <input type="text" name="nome" id="nome" class="form-control" placeholder="Nome" required>
        
                            <label for="sobrenome">Sobrenome</label>
                            <input type="text" name="sobrenome" id="sobrenome" class="form-control" placeholder="Sobrenome" required>
                            
                            <label for="email">E-mail</label>
                            <input type="email" name="email" id="email" required placeholder="example@exemple.com" class="form-control">

                            <label for="numero">Numero</label>
                            <input type="tel" name="numero" id="numero" class="form-control" placeholder="(99) 99999-9999" required>

                            <label for="facebook">Link Facebook (opcional)</label>
                            <input type="url" name="facebook" id="facebook" class="form-control" placeholder="https://facebook.com/exemplo">

                            <label for="instagram">Link instagram (opcional)</label>
                            <input type="url" name="instagram" id="instagram" placeholder="https://instagram.com/exemplo" class="form-control">

                            <label for="youtube">Link youtube (opcional)</label>
                            <input type="url" name="youtube" id="youtube" placeholder="https://youtube.com/exemplo" class="form-control">

                            <label for="twitter">Link twitter (opcional)</label>
                            <input type="url" name="twitter" id="twitter" placeholder="https://twitter.com/exemplo" class="form-control">

                            <label for="pinterest">Link pinterest (opcional)</label>
                            <input type="url" name="pinterest" id="pinterest" placeholder="https://pinterest.com/exemplo" class="form-control">
                            
                            <label for="nicho">Nicho</label>
                            <select name="nicho" id="nicho" class="form-control" required>
                                <%
                                    categorias.forEach(function(categoria){
                                        %>
                                            <option value="<%= categoria._id%>"><%= categoria.nome%></option>
                                        <%
                                    })
                                %>
                            </select>
                            
                            <label for="senha">Senha</label>
                            <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha" required minlength="6">
                            
                            <div class="custom-control custom-checkbox mt-2">
                                <input type="checkbox" class="custom-control-input" id="defaultUnchecked" required>
                                <label class="custom-control-label" for="defaultUnchecked">Me responsabilizo por qualquer matérial que divulgarei na plataforma</label>
                            </div>
                            
                            <input type="submit" value="Cadastrar" class="btn btn-success mt-2">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    $('.center').html("<b>Cadastre-se</b>")
</script>
<%-include('content/footer')%>